###############################################################
#
#       Endeca MDEX Environment Settings
#
#       This file was created by the MDEX install.
#       It is to be used to setup the required
#       environment variables.
#
#       Usage:
#               source mdex_setup_sh.ini
#
#
###############################################################
#
#  Local variables used by the MDEX Install program.

ENDECA_MDEX_ROOT=<%=@mdexRoot%>
export ENDECA_MDEX_ROOT
PATH=$PATH:$ENDECA_MDEX_ROOT/bin
export PATH
