# Wed Jun 01 15:19:56 UTC 2016
# Replay feature output
# ---------------------
# This file was built by the Replay feature of InstallAnywhere.
# It contains variables that were set by Panels, Consoles or Custom Code.



#Choose Install Folder
#---------------------
USER_INSTALL_DIR=/opt

#Install
#-------
-fileOverwrite_<%=@mdexRoot%>/Uninstall/Uninstall_Oracle Commerce MDEX Engine 6.5.2 x64 Edition.lax=Yes
